<template>
    <v-app>
    <div class="sorted-table-wrapper">

        <table class="table">
            <tr >
                <td></td>
                <td></td>
                <td>
                    <vuetify-money
                            v-model="startAmount"
                            v-bind:options="currencyOptions"
                            label="Startguthaben"
                    /></td>
            </tr>
            <tr v-for="row in rows">
                <td>{{row.product.title}}</td>
                <td><v-text-field label="Menge" :suffix="row.product.unit" type="number" v-model="row.amount"></v-text-field></td>
                <td>
                    <vuetify-money
                            :value="calculateSingle(row.product, row.amount)"
                            v-bind:options="currencyOptions"
                            readonly="readonly"
                    /><button class="btn btn-secondary" @click="remove(row)">x</button></td>
            </tr>
            <tr class="new" >
                <td><v-autocomplete
                        :items="productItems"
                        :filter="customFilter"
                        item-text="value.title"
                        item-value="value"
                        label="Produkt" v-model="newProduct" @change="add"></v-autocomplete>
                </td>
                <td><button class="btn btn-primary" @click="add">Hinzufügen</button> </td>
                <td></td>
            </tr>

            <tr >
                <td></td>
                <td></td>
                <td>Endguthaben: <vuetify-money
                        v-model="endAmount"
                        readonly="readonly"
                        v-bind:options="currencyOptions"
                /></td>
            </tr>
        </table>
    </div>
    </v-app>

</template>

<script>
    import _ from "lodash";
    import axios from 'axios';
    export default {
        components: {},
        name: "Calculator",
        props: {

        },
        data: function() {
            return {
                startAmount: 0,
                newProduct: {},
                products: [
                    {title: 'Preisrechner lädt oder ist defekt', search_terms: 'wurstbrot käse', price: 0.005, unit:'g'}
                ],
                rows: [],
                currencyOptions: {
                    locale: "de-DE",
                    prefix: "",
                    suffix: "€",
                    length: 11,
                    precision: 2
                }
            };
        },
        watch: {

        },
        computed: {
            getSum: function() {
               return 300;
            },
            productItems:function() {
                var productItems = [];
                _.each(this.products, function(product) {
                    productItems.push({title: product.title, search_terms: product.search_terms, value: product});
                });
                return productItems;
            },
            endAmount: function() {
                var amount = this.startAmount;
                _.each(this.rows, row => {
                    amount -= this.calculateSingle(row.product, row.amount);
                });
                return amount;
            },


        },
        methods: {
            customFilter (item, queryText, itemText) {
                const textOne = item.title.toLowerCase();
                const textTwo = item.search_terms.toLowerCase();
                const searchText = queryText.toLowerCase();

                return textOne.indexOf(searchText) > -1 ||
                    textTwo.indexOf(searchText) > -1
            },
            add () {
                if (this.newProduct.title) {
                    this.rows.push({product: this.newProduct, amount: 0});
                    this.newProduct = {};
                }

            },
            remove (row) {
                var i = this.rows.indexOf(row);
                if (i >= 0) {
                    this.rows.splice(i, 1)
                }

            },
            calculateSingle (product, amount) {
                return Math.round((product.price_per_unit * amount + Number.EPSILON) * 100) / 100;
            },
        },
        mounted: function() {
            var vm = this;
            axios.get('/api/product').then(function(res) {
                vm.products = res.data;
            });
        }
    };
</script>
