{% extends 'frontendLayout.html.twig' %}

{% block title %}Trockensortiment-Rechner!{% endblock %}

{% block content %}


<div class="example-wrapper">
    <div id="calculator-app">
        <calculator></calculator>
    </div>
</div>
{% endblock %}
