

{% extends 'backendLayout.html.twig' %}

{% block title %}Import Products{% endblock %}

{% block content %}
    <h1>Import Products</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Import') }}</button>
    {{ form_end(form) }}

{% endblock %}
