{% extends 'backendLayout.html.twig' %}

{% block title %}Product index{% endblock %}

{% block content %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ExternalId</th>
                <th>Provider</th>
                <th>Title</th>
                <th>SearchTerms</th>
                <th>PricePerUnit</th>
                <th>Unit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.externalId }}</td>
                <td>{{ product.provider }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.searchTerms }}</td>
                <td>{{ product.pricePerUnit }}</td>
                <td>{{ product.unit }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
