<nav class="navbar navbar-light navbar-expand-lg shadow-sm bg-white">
    <h2><a href="/" class="navbar-brand">
            Trockensortiment-Rechner
        </a>
    </h2>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{{ path('product_index', {}) }}" accesskey="P" class="nav-link {% if app.request.attributes.get('_route') starts with 'product' %}active{% endif %} btn btn-default">Produkte</a></li>
            <li class="nav-item"><a href="{{ path('app_logout', {}) }}" accesskey="P" class="nav-link btn btn-default">Logout {{ app.user.username }}</a></li>

        </ul>
    </div>
</nav>