{% extends 'base.html.twig' %}
{% block body %}
    {% include '_menu.html.twig' %}
    <section class="">
        <div class="{% block container_class %}container{% endblock %}">
            {% block messages %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-notice">
                        {{ message }}
                    </div>
                {% endfor %}

                {# pass an array argument to get the messages of those types  #}
                {% for label, messages in app.flashes(['warning', 'error']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
    </section>
{% endblock %}