<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/build/app.css">
            <link rel="stylesheet" href="/build/vendors~app.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/build/runtime.js" type="text/javascript"></script>
            <script src="/build/vendors~app.js" type="text/javascript"></script>
            <script src="/build/app.js" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
